<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="EFaturaEntegrasyon2Soap">
                    <security mode="Transport" />
                </binding>
                <binding name="EFaturaEntegrasyon2Soap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://efintws.turkkep.com.tr/EFaturaEntegrasyon2.asmx"
                binding="basicHttpBinding" bindingConfiguration="EFaturaEntegrasyon2Soap"
                contract="ServiceReference1.EFaturaEntegrasyon2Soap" name="EFaturaEntegrasyon2Soap" />
        </client>
    </system.serviceModel>
</configuration>